<div>
<div class="p-field p-col-12 p-md-4 grid">
  <label>Calendar</label>
  <p-calendar [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true" inputId="range"></p-calendar>
  <input type="email" placeholder="email@email.com" [(ngModel)]="email"/>
  <button type="pButton" (click)="addBookingForm()" style="background-color: #8aec1f"
          class="p-button-text p-button-rounded">Book
  </button>

</div>

  <div class="text-500 font-medium">Unavailable dates (Already booked) :</div>

  <li *ngFor="let booked of bookings">
    <span class="badge">{{booked.pickUpDate| date:'shortDate'}} - {{booked.dropUpDate| date:'shortDate'}}</span>
  </li>
</div>

