<footer class="py-3 bg-bluegray-500">
  <div class="container">
    <button onclick="window.location.href='https://github.com/ArielJaupi/Grupi1-Angular/'"
            class="hover:border-50 col-1 pi pi-github cursor-pointer"
            style="background-color: transparent; border: none; outline:none;">Github</button>
    <button onclick="window.location.href='https://www.facebook.com/'"
            class="hover:border-50 col-2 pi pi-facebook cursor-pointer"
            style="background-color: transparent; border: none; outline:none;">Facebook</button>
    <button onclick="window.location.href='https://www.instagram.com/'"
            class="hover:border-50 col-3 pi pi-instagram cursor-pointer"
            style="background-color: transparent; border: none; outline:none;">Instagram</button>

    <i class="col-4 pi pi-phone">Contact us</i>
    <br>
    <div class="text-2xl text-center font-bold mb-3 text-white">&copy; Copyright JavaTiranaAl8 Grupi-1 2022</div>
  </div>

</footer>
