<div class="">
  <h1 class="font-medium text-3xl text-900 mb-3 col-4 ">Car Information</h1>
</div>

<div class="grid" *ngIf="car">
  <div class="col-4 ">
    <ul>
      <li>
        <p-chip label="Car Type: {{car.carType}}" class="mr-2"></p-chip>
      </li>
      <br>
      <li>
        <p-chip label="Car is in: {{car.city.cityName}}" class="mr-2"></p-chip>
      </li>
      <br>
      <li>
        <p-chip label="Year of Release: {{car.year0fRelease}}" class="mr-2"></p-chip>
      </li>
      <br>
      <li>
        <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
          <p-chip label="Transmission: {{car.kambio}}"></p-chip>
        </div>
      </li>
      <br>
      <li>
        <p-chip label="Seats: {{car.seats}}"></p-chip>
      </li>
      <br>
      <li>
        <p-chip label="Price: {{car.price}}$" class="mr-2"></p-chip>
      </li>
    </ul>
  </div>
  <div class="col-4">
    <p style="color: var(--primary-color)">Fill in the requirements to book your car.</p>
    <app-book class="col-6" [carId]="getId()"></app-book>
  </div>
  <div class="bg-right-center bg-contain bg-no-repeat col-4"
       [ngStyle]="{'background-image': 'url(' + car.imagePath + ')'}">
  </div>
</div>

