<div class="grid container">
  <div class="col-3" *ngFor="let car of cars">
    <h1>{{car.carType}}</h1>
    <p-card>
      <ng-template pTemplate="header">
        <div class="py-8"
             [ngStyle]="{'background-image': 'url(' + car.imagePath + ')', 'background-position': 'center', 'background-size': 'cover', 'background-repeat': 'no-repeat'}"></div>
        <div>City :{{car.city.cityName}}</div>
        <div>Price per day :{{car.price}}$</div>
        <div>Seats :{{car.seats}}</div>
        <div>Kambio :{{car.kambio}}</div>
      </ng-template>
      <ng-template pTemplate="footer">
        <button class="" pButton type="button" label="Book" routerLink="/vehicle-details/{{car.id}}"></button>
      </ng-template>
    </p-card>
  </div>
</div>

