<!-- Home First Page Start -->
<div class="site-section">
  <div class="grid grid-nogutter  text-800 bg-auto bg-no-repeat bg-center  h-30rem w-screen"
       style="background-image: url('assets/images/homeFoto.jpeg')">
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
      <section>
        <div class="text-6xl text-primary font-bold mb-3">Book your car now!</div>
        <app-search-form></app-search-form>

      </section>
    </div>
  </div>
</div>
<!-- Home First Page End -->

<!-- Section with 3 button Start -->
<div class="site-section">
  <div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
    <div class="mb-3 font-bold text-2xl">
      <span class="text-blue-600">Faster Filter</span>
    </div>
    <div class="text-700 text-sm mb-6">Choose one Category</div>
    <div class="grid">
      <div class="col-12 md:col-4 mb-4 px-5">
        <button routerLink="/green-cars/" class="hover:bg-black-alpha-10 outline:none p-3 shadow-2 mb-3 inline-block surface-card material-symbols-outlined"
                style="border-radius: 10px; outline: none; border: none; cursor: pointer">
         electric_car </button>
        <div class="text-900 mb-3 font-medium">Green Cars</div>
        <span class="text-700 text-sm line-height-3">WE LOVE NATURE</span>
      </div>
      <div class="col-12 md:col-4 mb-4 px-5">
            <span class="material-symbols-outlined p-3 shadow-2 mb-3 inline-block surface-card"
                  style="border-radius: 10px">
            hotel_class
            </span>
        <div class="text-900 mb-3 font-medium">Our offer</div>
        <span class="text-700 text-sm line-height-3">Great Deals presented by our Offer Cars</span>
      </div>
      <div class="col-12 md:col-4 mb-4 px-5">
            <span class="material-symbols-outlined p-3 shadow-2 mb-3 inline-block surface-card"
                  style="border-radius: 10px">
            manage_accounts
            </span>
        <div class="text-900 mb-3 font-medium">Different Services</div>
        <span class="text-700 text-sm line-height-3">Extra Services</span>
      </div>
    </div>
  </div>
</div>
<!-- Section with 3 button End -->

<app-all-cars></app-all-cars>





