<div
  style="background-image: url('assets/images/homeFoto.jpeg');  background-position: center; background-size: cover; background-repeat: no-repeat"
  class="py-8"
>
  <div class="grid fluid container">
    <div class="col-12 md:col-5 lg:col-4">
      <div class="text-6xl text-primary font-bold mb-3 font-italic text-white">Book your car now!</div>
      <div class="flex flex-column border-1 border-round-2xl border-white p-4 ">
        <p-dropdown
          placeholder="Choose a city"
          [options]="cities"
          class="w-full"
          [(ngModel)]="cityName" optionLabel="cityName" optionValue="cityName">
        </p-dropdown>
        <button (click)="search()"
                pButton
                type="button"
                label="Search"
                class="mt-3 bg-transparent border-white"
                style=" width: inherit !important;">
        </button>
      </div>
    </div>
  </div>
</div>

