<div class="row align-items-center flex card-container blue-container overflow-hidden ">
  <div class="mb-3 mb-md-0 col-md-3" style="padding: 10px">
    <div class="menu">
      <label style="color: whitesmoke">Select A City
      <select [(ngModel)]="cityName" required aria-label="Select a City">
        <option *ngFor="let city of cities " value="{{city.cityName}}">
          {{city.cityName}}
        </option>
      </select>
      </label>
    </div>
    <div >
      <button (click)="search()" pButton type="button" label="Search" icon="pi pi-search" iconPos="right" class="p-button-text p-button-text "></button>
    </div>
  </div>
</div>

