<p-fieldset legend="A eshte trafiku ne Shqiperi i renduar?" [toggleable]="true">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, cum in minima minus odio pariatur sed. Dicta ducimus
  enim exercitationem expedita ipsam non numquam, optio pariatur quaerat sit temporibus velit?
</p-fieldset>
<p-fieldset legend="A me duhet nje patente nderkombetare?" [toggleable]="true">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, cum in minima minus odio pariatur sed. Dicta ducimus
  enim exercitationem expedita ipsam non numquam, optio pariatur quaerat sit temporibus velit?
</p-fieldset>
<p-fieldset legend="Sa eshte cmimi i naftes ne Shqiperi?" [toggleable]="true">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, cum in minima minus odio pariatur sed. Dicta ducimus
  enim exercitationem expedita ipsam non numquam, optio pariatur quaerat sit temporibus velit?
</p-fieldset>
<p-fieldset legend="Cila eshte makina me e sygjeruar per terrenin e Shqiperise??" [toggleable]="true">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, cum in minima minus odio pariatur sed. Dicta ducimus
  enim exercitationem expedita ipsam non numquam, optio pariatur quaerat sit temporibus velit?
</p-fieldset>




