<section class="cards-wrapper flex card-container indigo-container" >
  <div class="card-grid-space" *ngFor="let car of cars">
    <div class="num">{{car.carType}}</div>
    <a class="card" [ngStyle]="{'background-image': 'url(' + car.imagePath + ')'}">
      <div>
        <h1>${{car.price}}</h1>
        <p>{{car.year0fRelease}}</p>
        <div class="tags">
        </div>
        <button pButton type="button" label="Book" routerLink="/vehicle-details/{{car.id}}"></button>
      </div>
    </a>
  </div>
</section>
