<section class="cards-wrapper" >
  <div class="card-grid-space" *ngFor="let car of cars">
    <div class="num">{{car.carType}}</div>
    <a class="card"
       style="--bg-img: url(https://audimediacenter-a.akamaihd.net/system/production/media/90567/images/72391bd2d21a80a761f0df1bd5bff197d5804daa/A201895_x500.jpg?1583155437)">
      <div>
        <h1>${{car.price}}</h1>
        <p>{{car.year0fRelease}}</p>
        <div class="tags">
        </div>
        <button pButton type="button" label="Book" routerLink="/vehicle-details/{{car.id}}"></button>
      </div>
    </a>
  </div>
</section>
