<section class="cards-wrapper" >
  <div class="card-grid-space" *ngFor="let car of cars">
    <div class="num">{{car.carType}}</div>
    <a class="card"
       style="--bg-img: url(https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/html-syntax/cover.jpg)">
      <div>
        <h1>${{car.price}}</h1>
        <p>{{car.year0fRelease}}</p>
        <div class="tags">
        </div>
        <button pButton type="button" label="Book" routerLink="/car details/{{car.id}}"></button>
      </div>
    </a>
  </div>
</section>
